<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Software Dev</h1></a>
            <p>Your favourite engineer</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto laborum sit consequuntur architecto et perferendis aliquam eius sunt ipsam, libero dolor quisquam eum aperiam labore. Praesentium id quos quaerat est, dolor sit fugit aliquam earum maxime facilis nobis quam odio.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae atque, quos ullam assumenda est saepe id labore fugiat beatae! Corporis rerum nulla aliquid autem impedit quaerat animi quisquam labore, sunt facilis reiciendis quos sint distinctio explicabo odio eius ipsum vel blanditiis, iure molestias dolorum eos? Maxime.</p>
    </div>
</body>
</html>